.graph {
  --graph-space: 10px;
  --text-color: white;
  --node-padding: var(--graph-space);
  --node-stroke-color: var(--text-color);
  --node-background: transparent;
  --focused-node-stroke-color: var(--node-stroke-color);
  --focused-node-background: rgba(255, 255, 255, 0.1);
  --selected-node-stroke-color: var(--focused-node-stroke-color);
  --selected-node-background: var(--focused-node-background);
  --node-content-width: 180px;
  --node-content-height: 1em;
  --node-width: calc(var(--node-content-width) + 2 * var(--graph-space));
  --node-height: calc(2 * var(--node-padding) + 2 * var(--stroke-width) + var(--node-content-height));
  --branch-stroke-color: var(--node-stroke-color);
  --stroke-width: 1px;
  --border-radius: 12px;
  --children-indicator-min-height: 6px;
  --children-indicator-offset: 6px;

  box-sizing: border-box;
}

.graph * {
  box-sizing: inherit;
}

.branch {
  position: relative;
  display: flex;
  align-items: flex-start;
  user-select: none;
}

.branch:not(:last-of-type):not(.root):before {
  content: "";
  position: absolute;
  width: var(--stroke-width);
  background: var(--branch-stroke-color);
  top: 0;
  bottom: 0;
}

.node-container {
  width: var(--node-width);
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: var(--graph-space);
  margin-right: calc(-1 * var(--stroke-width));
  background: transparent;
  border: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--node-background);
  flex-shrink: 0;
}

.node-container:focus,
.node-container:focus-within {
  outline: 0;
  --node-stroke-color: var(--focused-node-stroke-color);
}

.node-container:focus > .node {
  background-color: var(--focused-node-background);
}

.branch.root > .node-container {
  margin-left: calc(var(--graph-space) * -1);
}

.node-container.selected > .node {
  border-color: var(--selected-node-stroke-color);
  background: var(--selected-node-background);
}

.node-container:not(.leaf) {
  cursor: pointer;
}

.branch:last-of-type > .node-container {
  margin-bottom: 0;
}

.node-children {
  display: grid;
  padding-top: var(--node-height);
}

.node {
  border-radius: var(--border-radius);
  border: var(--stroke-width) solid var(--node-stroke-color);
  margin-left: var(--graph-space);
  padding: var(--node-padding);
  width: var(--node-content-width);
  height: var(--node-height);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.children-indicator {
  width: var(--stroke-width);
  background-color: var(--branch-stroke-color);
  position: absolute;
  top: var(--border-radius);
  bottom: var(--border-radius);
  right: calc(var(--graph-space) - var(--children-indicator-offset));
  min-height: var(--children-indicator-min-height);
}

.children-loading-indicator {
  position: absolute;
  left: 100%;
}

.link {
  width: var(--graph-space);
  position: absolute;
  border-width: 0;
  border-color: var(--branch-stroke-color);
  border-style: solid;
}

.link.to-parent {
  border-left-width: var(--stroke-width);
  border-bottom-width: var(--stroke-width);
  border-bottom-left-radius: var(--border-radius);
  top: 0;
  left: 0;
  bottom: calc(50% - var(--stroke-width) / 2);
}

.link.to-children {
  border-right-width: var(--stroke-width);
  border-top-width: var(--stroke-width);
  border-top-right-radius: var(--border-radius);
  top: calc(50% - var(--stroke-width) / 2);
  right: 0;
  bottom: 0;
}

.branch.root > .node-container > .link.to-parent,
.node-container.leaf > .link.to-children {
  display: none;
}
